footer.footer
  .wrapper
    .footer__container
      .footer__brand
        .font-s-16-a © Natalya Romanova 2024
        a.footer__privacy.font-s-14(href="#" data-remodal-target="privacy").agree-privacy Политика конфиденциальноcти
      img.footer__logo(src="images/logo.svg" loading="lazy" width="121" height="91" alt="logo")
      a.footer__privacy-mobile.font-s-14(href="#" data-remodal-target="privacy").agree-privacy Политика конфиденциальности
      .footer__connection
        .footer__connection-phone
          a(href="tel:+79990000000")
            svg.footer__connection-icon(width="20" height="19" viewBox="0 0 20 19" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(d="M19.1584 15.5135C19.1584 15.8555 19.0823 16.207 18.9206 16.549C18.7588 16.891 18.5495 17.214 18.2736 17.518C17.8074 18.031 17.2936 18.4015 16.7133 18.639C16.1424 18.8765 15.524 19 14.858 19C13.8875 19 12.8505 18.772 11.7563 18.3065C10.6622 17.841 9.56806 17.214 8.48343 16.4255C7.38929 15.6275 6.35224 14.744 5.36275 13.7655C4.38278 12.7775 3.49796 11.742 2.70827 10.659C1.9281 9.576 1.30016 8.493 0.843475 7.4195C0.38679 6.3365 0.158447 5.301 0.158447 4.313C0.158447 3.667 0.272618 3.0495 0.500961 2.4795C0.729303 1.9 1.09085 1.368 1.5951 0.893C2.20402 0.2945 2.87001 0 3.57407 0C3.84047 0 4.10687 0.0570001 4.34473 0.171C4.5921 0.285 4.81093 0.456 4.98218 0.703L7.18949 3.8095C7.36075 4.047 7.48444 4.2655 7.57007 4.4745C7.65569 4.674 7.70326 4.8735 7.70326 5.054C7.70326 5.282 7.63666 5.51 7.50347 5.7285C7.37978 5.947 7.19901 6.175 6.97067 6.403L6.24758 7.1535C6.14292 7.258 6.09535 7.3815 6.09535 7.5335C6.09535 7.6095 6.10487 7.676 6.1239 7.752C6.15244 7.828 6.18098 7.885 6.20001 7.942C6.37127 8.2555 6.66621 8.664 7.08484 9.158C7.51298 9.652 7.96966 10.1555 8.46441 10.659C8.97818 11.1625 9.47292 11.628 9.97718 12.0555C10.4719 12.4735 10.881 12.7585 11.2045 12.9295C11.2521 12.9485 11.3092 12.977 11.3758 13.0055C11.4519 13.034 11.528 13.0435 11.6136 13.0435C11.7754 13.0435 11.8991 12.9865 12.0037 12.882L12.7268 12.1695C12.9647 11.932 13.193 11.7515 13.4118 11.6375C13.6307 11.5045 13.8495 11.438 14.0873 11.438C14.2681 11.438 14.4584 11.476 14.6677 11.5615C14.877 11.647 15.0959 11.7705 15.3337 11.932L18.4829 14.1645C18.7303 14.3355 18.9016 14.535 19.0062 14.7725C19.1014 15.01 19.1584 15.2475 19.1584 15.5135Z")
          include ../components/phone-number.pug
