section.reasons-section
  .wrapper
    .reasons-section__container
      img.reasons-section__img(src="images/reasons-section-img.png" loading="lazy" width="918" height="1056" alt="image")
      h2.reasons-section__title.font-w-l-regular.font-s-42.text-up.color-g-dark
        | Почему 
        br
        | «NATALYA ROMANOVA»
      .reasons-section__sub-title.font-w-l-regular.font-s-28.text-up
        span.color-g-light 5 причин открыть бизнес вместе с нами
      .swiper-bullet
        .reasons-section__cards.swiper-wrapper
          .reasons-section__card.swiper-slide
            img.reasons-section__card-icon(src="images/reasons-section-card-icon-1.svg" loading="lazy" width="57" height="57" alt="icon")
            span.font-s-20-c
              span.font-w-medium.color-g-light Три формата работы: 
              | работайте как дистрибьютор, откройте отдел/остров или объедините два 
              br.no-br
              | направления, для старта вам потребуются 
              span.font-w-medium.color-g-light минимальные вложения от 407 000 рублей
              | , с учетом 
              br.no-br
              | паушального взноса
          .reasons-section__card.swiper-slide
            img.reasons-section__card-icon(src="images/reasons-section-card-icon-2.svg" loading="lazy" width="57" height="57" alt="icon")
            span.font-s-20-c
              span.font-w-medium.color-g-light Поставка товара: 
              | мы организуем поставки на вашу точку из Головного офиса, поэтому вы всегда будете 
              br.no-br
              | уверены в качестве продукции и вам не придется самостоятельно искать поставщиков
          .reasons-section__card.swiper-slide
            img.reasons-section__card-icon(src="images/reasons-section-card-icon-3.svg" loading="lazy" width="57" height="57" alt="icon")
            span.font-s-20-c
              span.font-w-medium.color-g-light Поддержка на каждом этапе: 
              | наша команда поможет вам организовать все процессы бизнеса: от поиска 
              br.no-br
              | помещения до наполнения контентом ваших соц.сетей, вместе с нами вы можете быть уверены в 
              br.no-br
              | результате!
          .reasons-section__card.swiper-slide
            img.reasons-section__card-icon(src="images/reasons-section-card-icon-4.svg" loading="lazy" width="57" height="57" alt="icon")
            span.font-s-20-c
              span.font-w-medium.color-g-light Безопасный старт: 
              | вы получите готовую бизнес-модель, используя которую запустите все процессы всего 
              br.no-br
              | за 1 месяц и выйдете на стабильную чистую прибыль сразу после открытия вашего магазина бижутерии
        .bullet-pagination
      .reasons-section__bottom
        img.reasons-section__bottom-img(src="images/reasons-section-bottom-img.png" loading="lazy" width="583" height="500" alt="image")
        .reasons-section__bottom-text
          span.font-w-l-regular.font-s-24-a.text-up
            | Узнайте 
            span.color-g-light больше 
            br.no-br
            span.color-g-light о работе 
            | с нами
          span.font-s-20-b
            | Получите договор, в котором 
            br.no-br
            | прописаны наши обязанности 
            br.no-br
            | и все условия сотрудничества
        button.btn.reasons-section__btn(data-remodal-target="modal-form-agreement") Получить
