section.support-section
  .wrapper
    .support-section__container
      img.support-section__img-1(src="images/support-section-img-1.png" loading="lazy" width="1009" height="894" alt="image")
      img.support-section__img-2(src="images/support-section-img-2.png" loading="lazy" width="1141" height="1137" alt="image")
      h2.support-section__title.font-w-l-regular.font-s-42.text-up
        | Мы будем поддерживать вас 
        br.no-br
        | на всех этапах становления 
        br.no-br
        | бизнеса
      .swiper-bullet
        .support-section__cards.swiper-wrapper
          .support-section__card.swiper-slide
            .font-s-20
              | Проведем для вас 3-х дневное 
              br
              | онлайн-обучение
          .support-section__card.swiper-slide
            .font-s-20
              | Дадим рекомендации по выбору 
              br
              | локации и помещения
          .support-section__card.swiper-slide
            .font-s-20
              | Дадим рекомендации 
              br
              | по найму персонала
          .support-section__card.swiper-slide
            .font-s-20
              | Организуем поставки 
              br.no-br
              | товара из Головной компании
          .support-section__card.swiper-slide
            .font-s-20
              | Добавим вас в фирменный 
              br
              | канал с украшениями
          .support-section__card.swiper-slide
            .font-s-20
              | Поделимся рабочими 
              br.no-br
              | маркетинговыми инструментами
          .support-section__card.swiper-slide
            .font-s-20
              | Предоставим контент 
              br
              | для наполнения соц.сетей
          .support-section__card.swiper-slide
            .font-s-20
              | Поможем организовать 
              br.no-br
              | торжественное открытие точки
          .support-section__card.swiper-slide
            .font-s-20
              | Подключим к общему 
              br.no-br
              | программному обеспечению
          .support-section__card.swiper-slide
            .font-s-20
              | Добавим в закрытое сообщество 
              br.no-br
              | партнеров сети
        .bullet-pagination.bullet-pagination--right
      .support-section__bottom
        img.support-section__bottom-img(src="images/support-section-bottom-img.png" loading="lazy" width="736" height="384" alt="image")
        span.font-w-l-regular.font-s-24-a.text-up
          | Получите 
          span.color-g-light подробный 
          br.no-br
          span.color-g-light план 
          | запуска магазина 
          br.no-br
          | в 1 клик
        form.support-section__form(data-feedback-form)
          input(type="text" name="honeyfield" class="honeypot" style="display:none")
          input.input(type="text" name="name" autocomplete="off" placeholder="Имя")
          input.input(type="tel" name="phone" autocomplete="off" data-inputmask="'mask': '+7 (999) 999 9999'" placeholder="Телефон")
          button.btn(type="submit") Получить
